<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KTM.BuildingAssistant.Revit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KTM.BuildingAssistant.Revit.Properties.Settings>
            <setting name="DockableGuid" serializeAs="String">
                <value>0983DDD4-59D0-48B6-8B89-79470BAC27FF</value>
            </setting>
        </KTM.BuildingAssistant.Revit.Properties.Settings>
    </applicationSettings>
</configuration>